
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Weather Viewer - Error</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container text-center mt-5">
    <h1 class="display-4">Упс! Что-то пошло не так</h1>

    <div th:if="${error}" class="alert alert-danger mt-4">
        <p th:text="${error}"></p>
    </div>

    <p th:unless="${error}" class="lead">
        Мы сожалеем, но произошла непредвиденная ошибка. Пожалуйста, повторите попытку позже.
    </p>

    <a class="btn btn-primary" href="/">Перейти на главную</a>
</div>


</body>
</html>
